In [1]:
import pandas as pd 
import numpy as np

In [2]:
import urllib.request, json

In [3]:
url = "https://www.bitstamp.net/api/ticker/"

In [4]:
with urllib.request.urlopen(url) as url:
        data = json.loads(url.read().decode())

In [5]:
data

{'volume': '7839.71831964',
 'last': '48196.43',
 'timestamp': '1614295184',
 'bid': '48150.22',
 'vwap': '49929.50',
 'high': '52079.16',
 'low': '47433.44',
 'ask': '48195.23',
 'open': 49715.13}

In [6]:
df = pd.json_normalize(data)

In [7]:
df

,volume,last,timestamp,bid,vwap,high,low,ask,open
0,7839.71831964,48196.43,1614295184,48150.22,49929.50,52079.16,47433.44,48195.23,49715.13

In [8]:
url2 = "https://www.bitstamp.net/api/transactions/"

with urllib.request.urlopen(url2) as url:
        data2 = json.loads(url.read().decode())

In [9]:
df2 =pd.json_normalize(data2)

In [10]:
df2

            date        tid      amount  type     price
0     1614295183  154475366  0.27322852     0  48196.43
1     1614295183  154475365  0.00250000     0  48191.61
2     1614295183  154475364  0.15198281     0  48190.47
3     1614295182  154475359  0.15600000     0  48168.14
4     1614295182  154475358  0.25999385     0  48160.78
...          ...        ...         ...   ...       ...
1927  1614291608  154466443  0.03782015     0  48108.71
1928  1614291608  154466440  0.01459236     0  48108.71
1929  1614291601  154466379  0.00148668     0  48076.54
1930  1614291598  154466343  0.13608107     1  48018.34
1931  1614291598  154466342  0.20900000     1  48024.08

[1932 rows x 5 columns]

In [11]:
df2 = pd.DataFrame(df2).set_index('tid')

In [12]:
df2['date'] = pd.to_datetime(df2['date'], unit='ms')

In [13]:
df2

                             date      amount  type     price
tid
154475366 1970-01-19 16:24:55.183  0.27322852     0  48196.43
154475365 1970-01-19 16:24:55.183  0.00250000     0  48191.61
154475364 1970-01-19 16:24:55.183  0.15198281     0  48190.47
154475359 1970-01-19 16:24:55.182  0.15600000     0  48168.14
154475358 1970-01-19 16:24:55.182  0.25999385     0  48160.78
...                           ...         ...   ...       ...
154466443 1970-01-19 16:24:51.608  0.03782015     0  48108.71
154466440 1970-01-19 16:24:51.608  0.01459236     0  48108.71
154466379 1970-01-19 16:24:51.601  0.00148668     0  48076.54
154466343 1970-01-19 16:24:51.598  0.13608107     1  48018.34
154466342 1970-01-19 16:24:51.598  0.20900000     1  48024.08

[1932 rows x 4 columns]

In [14]:
coinbase = 'https://api.pro.coinbase.com/products'

In [15]:
with urllib.request.urlopen(coinbase) as url:
        data3 = json.loads(url.read().decode())

HTTPError: HTTP Error 403: Forbidden